# Binaires et Fichiers Objets
*.o
*.a
build/
obj/

phonebook
miniRT
zombies
hiThisIsBrain
unnecessaryViolence
sedForWinners

# Submodule / Dossier MiniLibX
# no-need anymore since its now included as a submodule
#minilibx-linux/

# Fichiers temporaires ou logs
*.swp
*~
.DS_Store

#valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes -s
